@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all .3s ease-out;
}
/* global section start  */
:root{
    --blue:#0574dc;
    --bluelite:#3d9df8;
    --white:#ffffff;
    --black:#444444;
    --blacklite:#757779;
    --gray:#f9f7f7;
    --footer:#1b1a1a;
}
.btn{
    padding: 10px 20px;
    outline: none;
    padding: 10px 20px;
    background: var(--blue);
    color: var(--white);
    border: 1px solid var(--bluelite);
    font-size: .8rem;
    border-radius: 5px;
    text-transform: capitalize;
}
.btn:hover{
    background-color: var(--white);
    color: var(--bluelite);
}


/* global section ends  */
/* top header start  */
.header-topbar {
    padding: 12px 6%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-topbar .topleft a, .header-topbar .topright a{
    color: var(--blacklite);
    margin: 0 5px;
    text-decoration: none;
    font-size: 0.8rem;
}
.header-topbar .topright a i{
    color: var(--bluelite);
}
.header-topbar .topright a i:hover,.header-topbar i:hover{
    color: var(--blue);
}

/* top header ends  */
/* headed start  */
header{
    padding: 18px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 50px rgba(65, 65, 65, 0.1);
    position: sticky;
    top: 0;
    z-index: 90000;
    background-color: #ffffff;
}
header .logo a{
    text-transform: capitalize;
    color: var(--blue);
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 0 10px;
    text-decoration: none;
}
header .logo a i{
    padding: 5px;
    background: linear-gradient(#0574dc,#5db2ff);
    color: var(--white);
    border-radius: 5px;
    margin-left: 4px;


}
header .navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar ul li{
    padding: 0 15px;
}
header .navbar ul li a{
    text-decoration: none;
    color: var(--blacklite);
    font-size: 1rem;
    text-transform: capitalize;
}
header .navbar ul li a:hover{
    color: var(--black);
}





/* headed ends  */
/* hero section start  */
.herosection{
    background-image: url(xbanner2.png.pagespeed.ic.B9cM6-Ibkd.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 6%;
    height: 80vh;
    align-items: center;
}
.herosection h1{
    text-transform: capitalize;
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 400;
}
.herosection h1 span{
    font-size: 3rem;
    font-weight: 800;
}
.herosection p{
    width: 50%;
    padding-bottom: 30px;
    font-size: 0.8rem;
}


/* hero section ends  */
/* section 1 start */
.section1{
    background-color: var(--bluelite);
    padding: 0 6%;
    display: flex;
}
.section1 .box{
    padding: 20px;
}
.section1 .box a i{
    padding-bottom: 20px;
    color: var(--white);
    font-size: 3rem;
}
.section1 .box h3{
    color:var(--white);
    font-size: 1.2rem;
    padding: 10px 0;
}
.section1 .box p{
    color: var(--white);
    font-size: 0.8rem;
}
.section1 .box .btn3{
    outline: none;
    border: 1px solid white;
    padding: 8px 20px;
    margin: 20px 0;
    font-size: 0.8rem;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    transition: .2s ease-in-out;
}
.section1 .box .btn3:hover{
    background-color:var(--white);
    color: var(--bluelite);
}
.section1 .box:nth-child(2){
    background-color: var(--blue);
}
/* section 1 ends */
/* section 2 start  */
.section2{
    padding: 20px 6%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    height: 80vh;
    position: relative;

}
.section2 .images{
    position: relative;
    width: 50wh;
}
.section2 .images .image1{
    position: absolute;
    top: 40px;
    left: 150px;
    width: 200px;
}
.section2 .images .image2{
    position: absolute;
    top: 150px;
    left: 250px;
    width: 200px;
}
.section2 .content{
    position: absolute;
    left: 50%;
}
.section2 .content h3{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 60px;
    color: var(--black);
    position: relative;
}

.section2 .content h3::before{
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--bluelite);
    color: var(--black);
    position: absolute;
    top: 100%;
}
.section2 .content h1{
    padding: 30px 0 20px 0;
    text-transform:capitalize;
    font-size: 1.5rem;
}
.section2 .content p{
    color: var(--blacklite);
    padding-bottom: 20px;
    font-size: 0.8rem;
}
.section2 .content ul{
    padding-bottom: 10px;
}
.section2 .content ul li{
    list-style: disc;
    font-size: 0.8rem;
}

/* section 2 ends  */
/* section 3 start  */
.section3{
    padding: 50px 6%;
    background-color: var(--gray);
}
.section3 h1{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    position: relative;
}
.section3 h1::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: var(--bluelite);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.section3 p{
    text-align: center;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: var(--blacklite);
    padding: 15px 0;
}
.section3 .boxcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.section3 .boxcontainer .box{
    margin: 20px 0;
    background-color: var(--white);
    max-width: 32%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.section3 .boxcontainer .box .image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.section3 .boxcontainer .box .image img{
    width: 100%;
    height: 100%;
}
.section3 .boxcontainer .box:hover img{
    transform: scale(1.2);
}
.section3 .boxcontainer .box h3,
.section3 .boxcontainer .box p{
    padding-left: 20px;
    text-align: left;
}
.section3 .boxcontainer .box h3{
    text-transform: capitalize;
    font-size: 1rem;
    padding-top: 10px;
}
.section3 .boxcontainer .box p{
    font-size: 0.8rem;
}
.section3 .boxcontainer .box a{
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 20px ;
    text-decoration: none;
    color: var(--bluelite);
}



/* section 3 ends  */
/* section 4 start  */
.section4{
    width: 100%;
    height: 50vh;
    background-color: var(--black);
    background-image: url(x1.png.pagespeed.ic.NH__KL9wkr.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.section4 i{
    padding-top: 80px;
    font-size: 4rem;
    color: var(--white);
}
.section4 p{
    padding-top: 30px;
    font-size: 0.8rem;
    color: var(--white);
    text-align: center;
    padding: 0 20%;
}



/* section 4 ends  */
/* section 5 start  */
.tabcontainer{
    width: 100%;
    height: 90px;
    padding: 0 6%;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

}
.section5 h2{
    height: 100%;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;

}
.section5 h2:nth-child(odd){
    background-color: var(--white);
}
.section5 .content{
    position: relative;
    padding: 0 6%;
    width: 100%;
    height: 50vh;
}
.section5 .content i{
    font-size: 3rem;
    padding: 20px;
    background-color: var(--bluelite);
    color: var(--white);
    border-radius: 50%;
    margin-top: 70px;
}
.section5 .content h3{
    font-size: 1rem;
    color: var(--black);
    text-transform:capitalize;
}
.section5 .content p{
    font-size: 0.8rem;
    color: var(--blacklite);
    width: 45%;
}
.section5 .content .image{
    position: absolute;
    top:0 ;
    right: 6%;
    border-radius: 0;
    overflow: hidden;
    width: 40%;
    height: 100%;
    background-image: url(xbusiness.png.pagespeed.ic.T1vlgqVj2y.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* section 6 start  */
.section6{
    width: 100%;
    padding: 20px 6%;
    background-color: var(--gray);
}
.section6 h1{
    color: var(--black);
    text-align: left;
    font-size: 1.5rem;
    
}
.section6 .boxcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.section6 .boxcontainer .box{
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.section6 .boxcontainer .box .images{
    width: 100%;
    overflow: hidden;
}
.section6 .boxcontainer .box:hover{
    background-color: var(--bluelite);
    color: var(--white);
}
.section6 .boxcontainer .box:hover .images img{
    transform: scale(1.1);
}
.section6 .boxcontainer .box .images img{
    width: 100%;
    height: 100%;
}
.section6 .boxcontainer .box h2{
    font-size: 1rem;
}
.section6 .boxcontainer .box p{
    font-size: 0.8rem;
}
.section6 .boxcontainer .box h2,
.section6 .boxcontainer .box p{
    text-align: center;
    padding-bottom: 10px;
}
/* section 7 start  */
.section7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section7 h1{
    font-size: 1.5rem;
}
.section7 p{
    font-size: 0.8rem;
    width: 50%;
}
.section7 .left{
    background-color: var(--bluelite);
    width: 50%;
    position: relative;
    height: 30vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-items: start;
    justify-content: center;
    padding-left: 6%;
    color: var(--white);
    background-image: url(xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section7 .right{
    background-color: var(--bluelite);
    width: 50%;
    position: relative;
    height: 30vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-items: start;
    justify-content: center;
    padding-left: 6%;
    color: var(--white);
    background-image: url(xemergency-2.png.pagespeed.ic.Db7myp6yIE.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: b;
}
.section7 .btn2{
    position: absolute;
    right: 15%;
    top: 50%;
    padding: 8px 20px;
    border-radius: 15px;
    outline: none;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
}
/* footer section start  */
.footer{
    width: 100%;
    height: 50vh;
    background-color: var(--footer);
    padding: 50px 6%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer h3{
    color: var(--white);
    padding-bottom: 40px;
    font-size: 1rem;
    font-weight: 500;
}
.footer .box .logo{
    padding-bottom: 20px;

}
.footer .box .logo a{
    text-transform: capitalize;
    color: var(--white);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 10px;
    text-decoration: none;

}
.footer .box p{
    font-size: 0.8rem;
    width: 70%;
}
.footer .box .logo a i{
    padding: 5px;
    background: linear-gradient(#0574dc,#5db2ff);
    color: var(--white);
    border-radius: 5px;
    margin-left: 4px;
}
.footer .box{
    display: flex;
    flex-direction: column; 
    color: var(--blacklite);  
}
.footer .box .social{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.footer .box .social a{
    margin-right: 10px;
    padding: 10px;
    background-color: var(--blacklite);
    color: var(--gray);
    display: inline-block;
    border-radius: 5px;
}
.footer .box .social a:hover{
    background-color: var(--gray);
    color: var(--blacklite);
}
.footer .box a{
    color: var(--blacklite);
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 0.8rem;
}
.footer .box a:hover{
    color: var(--gray);
}

/* copy right section start  */
.copyright{
    width: 100%;
    height: 60px;
    background-color: black;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.copyright a{
    color: var(--blue);
    text-decoration: none;
}  


/* media querries  */
@media only screen and (max-width: 989px){
    
}
    


